model/Assets/633549154203.zip filter=lfs diff=lfs merge=lfs -text
model/Assets/model.obj filter=lfs diff=lfs merge=lfs -text
model/Library/metadata/08/08741af9e2d4a8e4bb0a3e79b0e7e808 filter=lfs diff=lfs merge=lfs -text
